body{
    background-color: plum;
    text-align: center;
}
h1{
    color: black;
    font-family: Courier, monospace;
    font-size: 70px;
    font-weight: bolder;
    text-shadow: 1px 1px rgb(146, 131, 141);
}

input {
    width: 300px;
    height: 70px;
    
    margin: 10px;
    border-radius: 5px;
    border-color: darkslategrey;
}
input.answer{
height: 110px;
}
::placeholder {
    color: balck;
    opacity: 0.9;
    text-align: center;
    font-family: Courier, monospace;
    font-size: 20px;
    font-weight: normal;
  }

input[type="text"] {
    text-align: center;
    font-family: Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    
}
button{
    width: 200px;
    height: 50px;
    margin: 20px;
    text-align: center;
    font-family: Courier, monospace;
    border-radius: 10px;
    border-color: darkslategray;
    opacity: 0.8;
    background-color: rgb(65, 41, 57);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    vertical-align: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    
    cursor:pointer ;

}

p{
    color: darkred;
    text-align: center;
    font-family: Courier, monospace;
    font-weight: 900;
}
